<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="../css/blog.css" />
    <title>Home Page</title>
  </head>
  <body class="body">
    <%- include("./partials/nav") %>
    <main class="containerDiv mt-5">
      <div class="centerDiv">
        <section class="blog-section">
          <div>
            <div class="blog-img-div">
              <img
                src="<%= locals.blog.coverImageURL %>"
                loading="eager"
                width="600"
              />
            </div>
            <div class="blog-body">
              <div>
                <h3 class="pt-3 heading"><%= locals.blog.title %></h3>
                <p class="fade-color"><%= locals.blog.createdAt %></p>
                
              </div>
              <div class="userInfo">
                <div class="avaterImgDivBlog">
                  <img
                    src="<%= blog.createdBy.profileImageURL %>"
                    width="30"
                    alt=""
                  />
                </div>
                <div class="nameContentDivBlog">
                  <h5 class="pt-2 capitalize"><%= blog.createdBy.fullName %></h5>
                </div>
              </div>
              <div class="blog-content pt-4"><p><%= locals.blog.body %></p></div>
            </div>
          </div>
        </section>
        <section class="mt-5">
          <div style="width: 600px">
            <h2>Comments (<%= locals.comments.length %>)</h2>
            <% if (locals.user) { %>
            <form
              action="/blog/comment/<%= locals.blog._id %>"
              class="input-group"
              method="post"
            >
              <input
                type="text"
                name="content"
                class="form-control"
                id="content"
                placeholder="Enter your comment"
                aria-describedby="basic-addon3 basic-addon4"
              />
              <button
                type="submit"
                class="input-group-text bg-primary text-white"
                id="basic-addon3"
              >
                Comment
              </button>
            </form>
            <% } %>

            <div class="pt-4">
              <% locals.comments.forEach(comment => { %>

              <div class="singleComment">
                <div class="avaterImgDiv">
                  <img
                    src="<%= comment.createdBy.profileImageURL %>"
                    width="30"
                    alt=""
                  />
                </div>
                <div class="nameContentDiv">
                  <h5 class="pt-2"><%= comment.createdBy.fullName %></h5>
                  <p><%= comment.content %></p>
                </div>
              </div>

              <% }); %>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
